header{
    background-color: rgb(5, 5, 160);
    
}

.header-menu{
    display:flex;
    justify-content: center;
    column-gap: 30px;
}

.a-header-menu{
    color:rgb(235, 234, 234);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.a-header-menu:hover, .a-header-submenu:hover{
    color:grey;
    transition: all .45s;
}

li{
    list-style-type: none;
}

.li-header-menu{
    position:relative;
    padding-bottom:10px
}

.fa-chevron-down{
    font-size: 12px;
    margin-left:5px
}

/*Submenu*/
.header-submenu{
    position: absolute;
    background-color:rgb(5, 5, 160);
    padding: 0px;
    width: 180%;
    margin-top:12px;
    visibility:hidden;
    opacity:0;
    transition:opacity 1s
}

.a-header-submenu{
    display:block;
    color:rgb(235, 234, 234);
    text-decoration: none;
    width:150%;
    padding:8px
}

.li-header-menu:hover .header-submenu{
    visibility:visible;
    opacity:1
}



