
.successMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    height: 30px;    
    color: rgb(130, 177, 130);
    background-color: rgb(232, 247, 210);
    border: rgb(130, 177, 130) solid 1px;
    font-size: 11px;
}

.alertMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    height: 30px;    
    color:rgb(179, 179, 105);
    background-color: rgb(247, 247, 175);
    border:rgb(179, 179, 105) solid 1px;
    font-size: 11px;
}






