
.xlsExample{
    width: 100px;
}
.xlsExample2{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divAssignationNote{
    text-align: center;
    font-size: 12px;
    margin-bottom:15px
}
.pAssignationNote{
    width:450px;
    text-align: center;
    margin: auto;
}
.fa-triangle-exclamation{
    color:rgb(223, 223, 92);
    font-size:15px
}

.divFile{
    border: rgb(230, 230, 232) solid 1px;
    width: 25%;
    margin: auto;    
}

.divUploadFile{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin: auto;
    padding:5px 0px;
    
}
.uploadFile{
    margin-top: 0px;
    font-size: 12px;
}
.fa-file-excel{
    font-size: 20px;
    color: green;
}
.divAssignationFileNote{
    margin-top:0px;
    padding:5px;
}
.pAssignationFileNote{
    text-align: center;
    margin: auto;
    font-size: 12px;
    text-align: left;
}

.fa-circle-info{
    font-size: 13px;
    color:rgb(5, 5, 160)
}

.buttonAssignStudents{
    width:80px
}