<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <div class="div-img1">
        <img src="/images/index/indexImg1.jpg" alt="Index Image 1" class="index-img-1">
    </div>
    
</body>

<%- include('./partials/footer') %>
  