<header>
    <div class="main-header-top">
        <img src="/images/companyLogo.jpg" alt="Company Logo" class="logo-img">
    </div>
    <nav class="main-header-bottom">
        <ul class="header-menu">
            <li class="li-header-menu"><a class = "a-header-menu" href="/">INICIO</a></li>
            <li class="li-header-menu"><a class = "a-header-menu" href="">USUARIOS<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="header-submenu">
                    <li class="li-submenu"><a class = "a-header-submenu" href="/users/login">Iniciar sesión</a></li>
                    <li class="li-submenu"><a class = "a-header-submenu" href="/users/login">Cerrar sesión</a></li>
                </ul>
            </li>
            <li class="li-header-menu"><a class = "a-header-menu" href="#">TOKENS<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="header-submenu header-submenu-tokens">
                    <li class="li-submenu"><a class = "a-header-submenu" href="/tokens/generate">Generar tokens</a></li>
                    <li class="li-submenu"><a class = "a-header-submenu" href="/tokens/assignation">Asignar tokens</a></li>
                </ul>
            </li>
            <li class="li-header-menu"><a class = "a-header-menu" href="#">CURSOS<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="header-submenu header-submenu-courses">
                    <li class="li-submenu"><a class = "a-header-submenu" href="/courses/create-course">Crear curso</a></li>
                    <li class="li-submenu"><a class = "a-header-submenu" href="/courses/create-commission">Crear comisión</a></li>
                    <li class="li-submenu"><a class = "a-header-submenu" href="/courses/students-assignation">Asignar alumnos</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    </div>
</header>
