<header>
    <div class="main-header-top">
        <img src="/images/companyLogo.jpg" alt="Company Logo" class="schemaLogo">
    </div>
    <nav class="main-header-bottom">
        <ul class="header-menu">
            <% if (locals.isLogged && (userLogged.id_user_categories == 1 || userLogged.id_user_categories == 2)) { %>
                <li class="li-header-menu"><a class = "a-header-menu" href="">ADMINISTRACIÓN<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="header-submenu">
                        <% if (locals.isLogged && userLogged.id_user_categories == 1) { %>
                            <li class="li-submenu"><a class = "a-header-submenu" href="/users/create-company">Crear institución</a></li>
                            <li class="li-submenu"><a class = "a-header-submenu" href="/simulators/create">Crear simulador</a></li>
                            <li class="li-submenu"><a class = "a-header-submenu" href="/simulators/create-exercise">Crear ejercicio</a></li>
                            <li class="li-submenu"><a class = "a-header-submenu" href="/tokens/generate">Generar tokens</a></li>
                        <% } %>
                        <% if (locals.isLogged && (userLogged.id_user_categories == 1 ||userLogged.id_user_categories == 2 )) { %>
                            <li class="li-submenu"><a class = "a-header-submenu" href="/tokens/assignation">Asignar tokens</a></li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
            </li>
            <% if (locals.isLogged && (userLogged.id_user_categories == 1 ||userLogged.id_user_categories == 2 ) ) { %>
                <li class="li-header-menu"><a class = "a-header-menu" href="#">CURSOS<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="header-submenu header-submenu-courses">
                        <li class="li-submenu"><a class = "a-header-submenu" href="/courses/create-course">Crear curso</a></li>
                        <li class="li-submenu"><a class = "a-header-submenu" href="/courses/create-commission">Crear comisión</a></li>
                        <li class="li-submenu"><a class = "a-header-submenu" href="/courses/students-assignation">Asignar alumnos</a></li>
                        <li class="li-submenu"><a class = "a-header-submenu" href="/courses/my-courses">Mis cursos</a></li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </nav>
    
</header>

<div class="userLogged">
    <% if (locals.isLogged) { %>
        <div class="userLoggedName"><%= userLogged.first_name + ' ' + userLogged.last_name%></div>
        <div class="userLoggedLogout"><a href="/users/logout" class= "aUserLogged">Cerrar sesión</a></div> 
    <% } %>
</div>

