<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1 class="form-title">Registro de usuario</h1>

<div class="div-form-user-register">
    <form class="form-user-register" action="">
        <div>
            <label for="token-input">Token</label>
            <input type="text" name="token-input">
        </div>
        <div>
            <label for="teacher-tokens">Cantidad de licencias de profesor</label>
            <input type="number" name="teacher-tokens">
        </div>    
        <div>
            <label for="teacher-tokens">Cantidad de licencias de alumno</label>
            <input type="number" name="students-tokens">
        </div>
        <div>
            <input type="button" value="Generar tokens" />
            <input type="button" value="Cancelar" />
        </div>          
        
    </form>
</div>

<%- include('../partials/footer') %>